.about {
  &__content {
    padding-top: 20px;
    @include respond-to('medium') {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 60px;
    }
  }
  &__text {
    text-align: center;
    padding-bottom: 20px;
    @include respond-to('medium') {
      padding-right: 20px;
      padding-bottom: 0;
    }

  }
  &__image {
    img {
      display: block;
      border: 10px solid $color-pink;
    }
  }
}